canvas {
    border: 5px solid rgb(25, 94, 104);
    border-radius: 3px;
    width: 800px;
    height: 600px;
    display: block;    
    margin-top: 20px;
    background-color: white;
}  

body {
    color: white;
    background-color: rgb(12, 54, 65);
    /*background-image: linear-gradient(to right, white, rgb(129, 240, 255) 20%, rgb(25, 94, 104), black);*/
    font-family: 'Catamaran', sans-serif !important;
}

h1 {
    margin-top: 50px;
    color: rgb(255, 2, 2);
    font-weight: 800;
    font-size: 72px;
}

#art h1, #characters h1 {
    margin: 50px 0px 40px 0px;
    color: white;
    font-size: 64px;
    font-weight: 400;
}

#footer {
    margin: 40px 0px;
    text-align: center;
    color: black;
    display: block;
}

#footer h5 {
    margin: 10px 0px;
}

#bar {
   background-color: white;
   height: 8px;
   margin: 70px 0px !important;
}

#title {
    padding: 50px 0px 30px 0px;
}

button {
    background-color: #e2621b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px 12px;
    margin: 0px 5px;
}

.charImg, .charText {
    margin: 50px 5px;
    font-weight: 400;
}

.charImgR {
    padding-left: 60px;
}

.charTextR {
    text-align: right;
}