canvas {
    border: 5px solid rgb(25, 94, 104);
    border-radius: 3px;
    width: 800px;
    height: 600px;
    display: block;    
    margin-top: 20px;
    background-color: white;
}  

body {
    color: white;
    background-image: linear-gradient(to right, white, rgb(129, 240, 255) 20%, rgb(25, 94, 104), black);
    font-family: 'Catamaran', sans-serif;
}

h1 {
    margin-top: 50px;
    color: rgb(255, 2, 2);
    font-weight: 800;
}

h4 {
    margin-bottom: 30px;
}

h5 {
    margin: 15px 0px;
}

#footer {
    margin: 40px 0px;
    text-align: center;
    color: black;
    display: block;
}